:root {
    --cor-roxa: rgb(41, 40, 48);
    --cor-marrom: rgb(81, 61, 70);
    --cor-amarela: #a69c60
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/Background.jpg");
    background-repeat: repeat;
   
}

main{
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
}

.login{
    border-radius: 60% 0 0 60%;
    background: linear-gradient(to right, rgb(41, 40, 48), rgb(81, 61, 70));
    height: 100vh;
    width:80%;
    justify-content: flex-end;
    align-items: flex-end;
    opacity:96%;
}

.logo {
    justify-content: flex-end;
    align-items: flex-end;
}
